# Core API
fastapi==0.110.2
uvicorn[standard]==0.30.1
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.2.1

# Data processing
pandas==2.2.2
openpyxl==3.1.3
xlrd==2.0.1
numpy==1.26.4

# NLP & AI - Query Understanding & Routing
spacy==3.7.4
openai==1.30.1

# Semantic search
sentence-transformers==3.0.1
faiss-cpu==1.8.0
scikit-learn==1.5.0

# Logging
structlog==24.1.0

# Ingestion Generation
faker==25.2.0

# Testing
pytest==8.2.2
httpx==0.27.0

